.footerDiv {

    bottom: 0;
    right: 0;
    width: auto;
    background-color: #0d0202;
    border: 2px solid black;
    color: rgba(255, 255, 255, 0.4);
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    p {
        padding: 10px;
    }

}